<div class="main">
  <div class="container">
    <div class="curr-exc row">
      <h2>Подивитись актуальний курс:</h2>
      <div class="rate-table col d-flex aling-items-center justify-content-center">

        <div class="col-5">
          <div class="input-group input-group-md">
            <span class="input-group-text" id="firstInput-sizing-lg">{{firstInputLabel}}</span>
            <input
              [(ngModel)]="firstInput"
              (ngModelChange)="getSumInSecondInput()"
              type="text"
              class="form-control"
              aria-describedby="firstInput-sizing-sm"
              placeholder={{firstPlaceholder}}
              aria-label="Sizing example input"
              aria-describedby="firstInput-sizing-lg">
          </div>
        </div>

        <div class="col-1"></div>

        <div class="col-5">
          <div class="input-group input-group-md">
            <span class="input-group-text" id="secondInput-sizing-lg">{{secondInputLabel}}</span>
            <input
              [(ngModel)]="secondInput"
              (ngModelChange)="getSumInFirstInput()"
              type="text"
              class="form-control"
              aria-describedby="secondInput-sizing-sm"
              placeholder={{secondPlaceholder}}
              aria-label="Sizing example input"
              aria-describedby="secondInput-sizing-lg">
          </div>
        </div>

      </div>
    </div>


    <div class="row">

      <div class="col-6 d-flex aling-items-center justify-content-center div-select">
        <select #firstCurrency (change)="setFirstCurrency(firstCurrency.value)">
          <ng-container  *ngFor="let currency of getExchangeRate.listOfRate.value
          let i = index">
            <option [value]="i" [selected]="i === 13">{{currency.txt}}</option>
          </ng-container>
        </select>
      </div>

      <div class="col-6 d-flex aling-items-center justify-content-center div-select">
        <select #secondCurrency (change)="setSecondCurrency(secondCurrency.value)">
          <ng-container  *ngFor="let currency of getExchangeRate.listOfRate.value
          let i = index">
            <option [value]="i" [selected]="i === 10">{{currency.txt}}</option>
          </ng-container>
        </select>
      </div>

    </div>
  </div>
</div>
